:host {
  display: block;
  padding: 1rem;
  background: #dedede;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__signals {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__signals__actions {
    display: flex;
    flex-direction: column;

  }

  &__signals__action__buttons {
    display: flex;
    flex-direction: row;
    height: max-content;
    gap: 1rem;
  }

  span {
    font-weight: bold;
  }
}